*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'roboto',sans-serif;
}
h1, h2, h3,h4,h5,h6{
    color: #1d273b;
    font-weight: 300;
} 
.contenedor{
    width: 90%;
    max-width:1000px;
    margin: auto;
    overflow: hidden;
}
.contenedor1{
    width: 90%;
    max-width:1000px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}
h1{
    font-size: 50px;
}
/*header*/
header::before{
    content: "";
    display:block;
    margin-bottom:80px;
}
nav{
    background:#fff;
    width: 100%;
    height:80px;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
    position:fixed;
    top: 0;
    z-index:100;
    transition: ease-in-out 0.5s;
}
.nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    padding: 0 40px;
}
.nav .logo{
    height: 80px;
}
.nav .logo img{
    height: 100%;
}
.enlaces-header{
    font-weight: 300;
    transition: ease-in-out 0.5s;
}
.nav .enlaces-header a{
    color:#5d6678;
    text-decoration:none;
    margin-left: 20px;
}
.bars{
    width: 80px;
    height:80px;
    display:none;
    text-align: center;
    z-index: 100;
    cursor: pointer;
}
.bars > i{
    font-size: 25px;
    line-height:80px;
}
.contenido-header{
    width: 100%;
    height: 600px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.contenido-header > img{
    width: 550px;
    animation: ease-in animat 1s;
}
@keyframes animat{
    0%{transform: scale(0);}
    100%{transform: scale(1);}
}
.textos-header{
    margin: 0 0 0 30px;
}
.contenido-header p{
    font-weight: 100;
    margin-top: 14px;
    color: #5d6678;
}
.contenido-header a{
    margin: 28px 0 0 0;
    width:130px;
    display: inline-block;
    background: #1fde82;
    text-align:center ;
    color:#fff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius:5px;
    box-shadow: 0 8px 32px rgba(31,222,130,.45);
}
.titulo{
    font-size: 50px;
}
.about{
    background: #f2f2f2;
}
.articulo{
    width:30%;
    background-color: #fff;
    margin-bottom:30px;
    border-radius: 10px;
    padding: 45px 30px 60px 30px;
    transition: 0.5s;
}
.articulo:hover{
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
}
.articulo > i{
    font-size: 30px;
    color: #fff;
    background: #1fde82;
    display: inline-block;
    width: 70px;
    height:70px;
    text-align: center;
    padding-top: 20px;
    border-radius: 50%;
    box-shadow: 0 8px 32px rgba(31, 222, 130, .45);
}
.articulo > h3{
    font-size: 24px;
    margin-top: 30px;
}
.articulo > p{
    font-weight: 100;
    color: #5d6678;
    margin-top: 15px;
    margin-bottom: 20px;
}
.articulo > a{
    color: #5d6678;
    font-weight:400;
    text-decoration: none;
}
.articulo > a:hover{
    color: #1fde82;
    transition: color .5s;
}
.contenedor-articulo{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-around;
}

/*question*/
.question{
    height: 600px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.question > img{
    width: 550px;
}
.textos-question{
    margin: 0 0 0 30px;
}
.textos-question p{
    font-weight: 100;
    margin-top: 14px;
    color: #5d6678;
}
.textos-question a{
    margin: 28px 0 0 0;
    width:130px;
    display: inline-block;
    background: #1fde82;
    text-align:center ;
    color:#fff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius:5px;
    box-shadow: 0 8px 32px rgba(31,222,130,.45);
}
/*resultado*/
.resultado{
    background-color: #2570ff;
    padding-top: 30px;
}
.result{
    display: flex;
    justify-content: space-evenly;
}
.numeros{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly ;
}
.numeros .numero{
    width: 45%;
    background: rgba(255, 255, 255, .2);
    color: #fff;
    border-radius: 10px;
    padding: 40px 35px;
    margin-bottom: 20px;
}
.numeros  .numero h4{
    color:#fff;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
}
.numeros .numero p{
    color:#f2f5fc;
    font-weight: 300;
}
.resultado-texto{
    width:37%;
}
.resultado-texto h4{
    color: #fff;
    font-size: 40px;
}
.resultado-texto p{
    color: #fff;
    font-weight:300;
    margin: 20px 0;
}
.resultado-texto > a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border:1px solid #fff;
    padding: 10px 0;
    width: 120px;
    text-align: center;
    border-radius: 5px;
}

/*servicios*/
.servicios{
    display: flex;
    justify-content: space-between;
}
.servicios > img{
    width: 500px;
}
.box{
    margin: 30px 30px 0 0;
}
.box h4{
    font-size: 24px;
    background-color: #f2f2f2;
    width: 350px;
    border-radius: 6px;
    padding: 10px 0 10px 15px;
    margin-bottom: 10px;
}
.box i{
    color: #1fde82;
    font-size: 20px;
}

/*footer*/
footer{
    background: #f2f2f2;
    padding: 60px 0;
    overflow: hidden;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    margin: auto;
}
.parte{
    width: 20%;
    font-size: 20px;
}
.parte h4{
    color: #1d273d;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}
.parte a {
    display: block;
    text-decoration: none;
    color: #5d6678;
    font-weight: 300;
    transition: color .3s ease-in-out;
    margin-bottom: 10px;
}
.parte img{
    width: 70%;
}
.parte a:hover{
    color: #1fde82;
}
.social i{
    font-size: 20px;
    display: inline-block;
    color: #adb6c7;
    border:1px solid #adb6c7;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 36px;
    cursor: pointer;
    margin-top:20px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right:5px;
}
.social i:hover{
    color: #fff;
    background-color: #1fde82;
    border-color: #1fde82;
}

/*responsive*/
@media screen and (max-width:800px){
    .titulo{
        font-size: 45px;
    }
    .contenido-header{
        flex-direction: column;
        justify-content:space-evenly;
        height:720px;
    }
    .contenido-header > img{
        width: 400px;
    }
    .textos-header{
        margin: 0;
    }

    /*about*/
    .articulo{
        width:45%;
    }
    .question{
        height: 720px;
        justify-content: space-evenly;
        flex-direction: column;
    }
    .question > img{width:400px;}

    /*resultado*/
    .result{
        flex-direction: column-reverse;
    }
    .resultado-texto > a{margin-bottom: 60px;}
    .numeros{width: 100%;}
    .resultado-texto{width:100%;}

    /*servicios*/
    .servicios{
        flex-direction: column-reverse;
        align-items: center;
    }
    .box
    {margin: 0 0 40px 0;}
    .servicios> img{width:400px;}
    .box h4{width: 500px;}

    /*footer*/
    footer{justify-content: space-evenly;}
    .parte{
        width: 40%;
        margin-bottom: 40px;
    }
}

@media screen and (max-width:600px){
    .titulo{font-size: 35px;}
    h1{font-size: 40px;}
    .contenido-header{height:650px;}
    .nav{padding: 0 10px;}
    .contenido-header > img{width:300px;}
    .enlaces-header{position: fixed;
        background: #7F00FF;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #E100FF, #7F00FF);
         /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
         top:0;
         right: 0;
         width: 100%;
         height: 100vh;
         display: flex;
         align-items: center;
         flex-direction: column;
         justify-content: space-evenly;
         clip-path: circle(0.0% at 100% 0);
        }
        .nav .menudos{clip-path: circle(141.2% at 100% 0);}

        .nav .enlaces-header a{
            color:#fff ;
        }
    .bars{display: block;}

    /*about*/
    .articulo{width: 95%;}

    /*questions*/
    .question > img{width:300px;}

    /*resultados*/
    .numeros .numero{width:95% ;}
    .resultado-texto h4{font-size:35px;}

    /*servicios*/
    .servicios > img{width:300px;}
    .box h4{width:100%;}

    /*footer*/
    .parte{width:95%;
    margin-bottom:40px;
    margin-left:200px;}
    .parte > img{margin-right:200px;}
}